# Ensure these files are not exported to the distribution
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.phpunit.result.cache export-ignore
/README.md export-ignore
/CHANGELOG.md export-ignore

# Auto-detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Mark source files as text
*.php text
*.js text
*.css text
*.scss text
*.sass text
*.json text
*.xml text
*.yml text
*.yaml text
*.md text
*.txt text
*.blade.php text

# Mark binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
